<div class="container">
    <h1>Vehicles</h1>
    <div class="row">
        <div class="col mb-3">
            <div class="btn-group">
                <a routerLink="/park" class="btn btn-outline-primary">Park New</a>
                <a routerLink="/take-out" class="btn btn-outline-danger">Take Out</a>
            </div>
        </div>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="License..." [(ngModel)]="search">
            <button class="btn btn-outline-secondary" (click)="filter()">Search</button>
          </div>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-hover text-nowrap">
                <caption>Vehicle List ({{currentPage}} of {{totalPages()}})</caption>
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">License</th>
                        <th scope="col">CC</th>
                        <th scope="col">Type</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let vehicle of getCurrentPage()">
                        <td>{{vehicle.id}}</td>
                        <td>{{vehicle.license | uppercase}}</td>
                        <td>{{vehicle.cylinderCapacity}}</td>
                        <td>{{vehicle.type | uppercase}}</td>
                        <td>
                            <span *ngIf="vehicle.isParked;else inactive"
                                class="badge rounded-pill bg-success">Parked</span>
                            <ng-template #inactive>
                                <span class="badge rounded-pill bg-secondary">Not Parked</span>
                            </ng-template>
                        </td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-outline-success mb-3"
                                    routerLink="/history/{{vehicle.license}}">History</a>
                                <a class="btn btn-outline-danger mb-3" *ngIf="vehicle.isParked"
                                    routerLink="/take-out/{{vehicle.license}}">Take Out</a>
                                <a class="btn btn-outline-primary mb-3" *ngIf="!vehicle.isParked"
                                    routerLink="/park/{{vehicle.license}}">Park</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item" [ngClass]="{'disabled': currentPage <=1}">
                        <button class="page-link" (click)="previousPage()">Previous</button>
                    </li>
                    <li class="page-item" [ngClass]="{'disabled': currentPage >= totalPages()}">
                        <button class="page-link" (click)="nextPage()">Next</button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</div>